!!! 5
%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title CardBoard | ShipReq
    %script{src: "../node_modules/jquery/dist/jquery.min.js"}
    %link{href:  "../semantic/dist/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../semantic/dist/semantic.min.js"}
    -# %link{href:  "../../Code/webapp-server/src/main/webapp/a/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    -# %script{src: "../../Code/webapp-server/src/main/webapp/a/semantic.min.js"}
    :css
      body {padding:1rem}
      .ui.menu.inverted .ui.breadcrumb a {color: #63c0ff}
      .ui.menu.inverted .ui.breadcrumb a:hover {color: #9bf3ff}
      .ui.menu.inverted .ui.breadcrumb > i {color: #ddd; margin-left: 0.8em; margin-right: 0.8em;}

      #info {
        margin: 4rem 0;
      }
      #info td:nth-child(1) {
        white-space:nowrap;
      }
      #info td:nth-child(2) {
        width: 100%;
      }

      #menu .segment {
        display: flex;
        align-items:flex-end;
      }
      #menu .left {
        flex-grow:1;
        margin-right: 8ex;
      }
      #menu .right .button {
        margin-right:0!important;
      }
      .texteditor {
        width:100%;
        margin: 0;
        -webkit-appearance: none;
        border: 1px solid rgba(34,36,38,.15);
        outline: 0;
        color: rgba(0,0,0,.87);
        border-radius: .28571429rem;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset;
        xxxtransition: all 0.1s ease;
        transition: color .1s ease,border-color .1s ease;
        font-size: 1em;
        line-height: 1.2857;

        /*overflow: scroll;*/
        resize: none;

        padding:.3em .4em;
        background: #fff4e3; /* rgb(255,244,227) */
        border-color:rgba(255, 166, 34, .5);
      }
      .edit-notes {
        text-align:right;
        font-size: 0.75rem;
        line-height: 1em;
        color: #a4a6a8;
      }
      .preview-cont {margin:1rem 0 0 0 !important}
      .preview-header {padding-top: 0.3em !important; padding-bottom: 0.3em !important}
      .preview-body {
        xbackground-clip: border-box !important;
        xbackground-color: rgba(0, 0, 0, 0)  !important;
        background-image: repeating-linear-gradient(-225deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0)         5ex,
          rgba(33, 186, 67, 0.07)  5ex,
          rgba(33, 186, 67, 0.07) 10ex) !important;
        xbackground-origin: padding-box  !important;
      }

  %body

    %nav(style="margin-bottom:5rem")
      .ui.menu.borderless.fixed.inverted
        .item
          %img{src: "logo-only-dark2.svg"}

        .item
          .ui.breadcrumb
            %a.section{href: "member-home.html"} Projects
            %i.divider.icon.right.angle
            %a.section{href: "project-index.html"} CardBoard
            .ui.dropdown.inline
              &nbsp;
              %i.icon.dropdown
              .menu
                .item.active CardBoard
                .item ShipReq
            %i.divider.icon.right.angle
            .section // .active
              .ui.dropdown.inline
                Status
                &nbsp;
                %i.icon.dropdown
                .menu

        .right.menu

          .item#connected4(onclick="$('#connected4 > *').toggle()")
            %i.icon.large.plug.green(style="opacity:.7" title="connected")
            %i.icon.large.plug.red(style="opacity:1;display:none" title="disconnected")

          .item.ui.dropdown.simple
            @japgolly
            .menu
              %a.item{href: "member-account.html"} Account
              .item Send feedback
              .item Logout

    -# =============================================================================================
    .ui.container{style: "max-width: 723px! important"}

      .ui.message.icon.huge.black(style="margin-top:6rem")
        %i.icon.trash
        .content
          .header
            ="You are about to delete the project:"
            %div(style="margin-top:0.25em") CardBoard

      .content
        %p(style="font-size:15px")
          %strong Deletion Reason:
        %textarea.texteditor(rows=3 autofocus=1)
          -# ="This, [fr3], is an item being edited.\n\nIt has multiple lines."
        .edit-notes
          %span enter for new line,
          %span ctrl-enter to <a>save</a>,
          %span esc to <a>cancel</a>.
          %i.icon.help.circle.blueHover(style="cursor:pointer" onclick="$('#richTextEditor-help').modal('show')")
        .ui.segments.preview-cont.raised
          .ui.segment.preview-header.inverted.green
            Preview
          .ui.segment.preview-body
            %br
            -# = "This, "
            -# %a{href:"#"} FR-3
            -# , is an item being edited.
            -# %br
            -# %br
            -# It has multiple lines.
      .buttons(style="margin-top:2rem; text-align:right")
        %a(href="project-status-live.html")
          %button.ui.button.basic.black(style="margin-right:1rem")
            %i.icon.remove
            Cancel
        %a(href="project-status-dead.html")
          %button.ui.button.negative.basic
            %i.icon.trash
            Delete


  :javascript
    $('.ui.dropdown').dropdown();
    $('.omg-dimmable').dimmer({on: 'hover'});
    // $('.ui.modal').modal();
