<?xml version="1.0" encoding="UTF-8"?>
<configuration
  xmlns="http://ch.qos.logback/xml/ns/logback"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback http://ch.qos.logback/xml/ns/logback/logback.xsd">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} %-5level [%-32logger{32}] {%-10X{who}} %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <appender name="ELASTIC" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">
    <!--<url>${ELASTICSEARCH_REST_URL}/_bulk</url>-->
    <url>http://localhost:14500/_bulk</url>
    <index>logs-%date{yyyy-MM-dd}</index>
    <loggerName>es-logger</loggerName> <!-- optional -->
    <errorLoggerName>es-error-logger</errorLoggerName> <!-- optional -->
     <!--<loggerName>com.internetitem.logback.elasticsearch.ElasticsearchAppender</loggerName>-->
     <!--<errorLoggerName>com.internetitem.logback.elasticsearch.ElasticsearchAppender</errorLoggerName>-->
    <!-- <connectTimeout>30000</connectTimeout>  optional (in ms, default 30000) -->
     <!--<errorsToStderr>true</errorsToStderr>-->
    <!-- <includeCallerData>false</includeCallerData>  optional (default false) -->
     <!--<logsToStderr>true</logsToStderr>-->
    <!-- <maxQueueSize>104857600</maxQueueSize>  optional (default 104857600) -->
    <!-- <maxRetries>3</maxRetries>  optional (default 3) -->
    <!-- <readTimeout>30000</readTimeout>  optional (in ms, default 30000) -->
    <!-- <sleepTime>250</sleepTime>  optional (in ms, default 250) -->
    <!-- <rawJsonMessage>false</rawJsonMessage>  optional (default false) -->
    <includeMdc>true</includeMdc>
    <!-- <maxMessageSize>100</maxMessageSize>  optional (default -1 -->
    <!-- <authentication class="com.internetitem.logback.elasticsearch.config.BasicAuthentication"/>  optional -->
    <properties>
      <property>
        <name>app</name>
        <value>webapp</value>
      </property>
      <!--
      <property>
        <name>host</name>
        <value>${HOSTNAME}</value>
        <allowEmpty>false</allowEmpty>
      </property>
      -->
      <property>
        <name>severity</name>
        <value>%level</value>
      </property>
      <property>
        <name>thread</name>
        <value>%thread</value>
      </property>
      <property>
        <name>stacktrace</name>
        <value>%ex</value>
      </property>
      <property>
        <name>logger</name>
        <value>%logger</value>
      </property>
    </properties>
    <headers>
      <header>
        <name>Content-Type</name>
        <value>application/json</value>
      </header>
    </headers>
  </appender>

  <logger name="es-logger" level="INFO" additivity="false">
    <appender name="ES_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <!-- ... -->
      <encoder>
        <!-- This pattern is important, otherwise it won't be the raw Elasticsearch format anyomre -->
        <pattern>%msg</pattern>
      </encoder>
    </appender>
  </logger>

  <logger name="es-error-logger" level="WARN" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>


  <logger name="org.apache.commons" level="WARN" />
  <logger name="net.liftweb.util.Props" level="OFF" />
  <logger name="shipreq" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ELASTIC" />
  </root>
</configuration>
