<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-32logger{32}] %msg%n</pattern>
		</encoder>
	</appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} {%-10thread{10}} %-5level [%-32logger{32}] %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="com.beardedlogic" level="DEBUG" />
	<logger name="bootstrap.liftweb" level="INFO" />
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
